In [ ]:
from Data_cleaning.cars.data import __path__ as datapath
import os
import sys
import re

import pandas as pd

from Data_cleaning.cars.scripts.utils import *

In [ ]:
src_path = datapath._path[0]
print(src_path)

src_file = os.path.join(src_path,'Car_Models.csv')

df_raw = pd.read_csv(src_file)

In [ ]:
df_raw.head()
df_raw.size
df_raw.columns

In [ ]:
suvs = df_raw[df_raw['Body Type']=='SUV']

In [ ]:
suvs

# methods needed
    uniformize data
        - make everythign lowercase
    add a column 
        - market
    convert price to usd
    convert price to any user given 
        add as extra column
    convert mileage to 
        mpg, 
        kms/l, 
        l/100 kms
    convert horsepower 
        hp
        assign lower limit higher limit
    convert torgue
        hp
        assign lower limit higher limit

In [ ]:
df = df_raw.copy()

# add market column

In [ ]:
market_mapping_dict = {
    'APAC': ['rs','lakh'],
    'NAM' : ['$',],
}

In [ ]:
df['market'] = df.Price.apply(get_market,args=[market_mapping_dict])

# convert price

In [ ]:
# TODO this should come from internet or some library
# that tracks exchange rates
currency_exchange_map = {
    ('usd','inr'):70,
    ('usd','cad'):1.3,
    ('cad','inr'): 50
}

 ## convert price to usd

In [ ]:
"""

([$]{1}?)([rs.]{,2}?)
  
([$]{1}?)

(([rsRS]{2})(.?))

(\$)?(\R)?

"""
"""

# looks for $XXX,XXX,XXX - $XXX,XXX,XXX
    dollar regex = (\$([0-9,]{,20}))-?(\$([0-9,]{,20}))?
    inr regex = ([rsRS]{2}).?\s([0-9.]{,200})\s?-?\s?([0-9.]{,200})\s?(\w{,10})?
    pound
    euro



"""

In [22]:
df.Price.tolist()

['$366,712',
 '$276,550',
 '$218,750',
 '$254,475',
 '$625,000',
 '$350,050',
 '$298,750',
 '$262,647',
 '$202,723',
 '$1,420,000',
 'Rs. 7.96 - 13.33 Lakh',
 'Rs. 12.57 - 16.53 Lakh',
 'Rs. 12.11 - 16.86 Lakh',
 'Rs. 8.67 - 9.39 Lakh',
 'Rs. 12.4 - 14.12 Lakh',
 'Rs. 28.74 - 31.73 Lakh',
 '$25,045-$35,130',
 '$20,025-$25,725',
 '$26,250-$37,330',
 '$35,085-$47,230',
 '$36,765-$50,745',
 '$26,150-$46,780',
 '$33,675-$51,995',
 '$28,450-$61,600',
 '$28,940-$70,825',
 '$33,860-$54,365',
 '$26,130-$40,395',
 '$32,250-$43,400',
 '$24,820-$42,660',
 '$26,820-$38,160',
 '$25,000-$72,000',
 '$60,000-$125,000',
 '$13,400-$16,800',
 '$36,500-$41,700',
 '$25,000-$35,000',
 '$51,700-$76,000',
 '$49,000-$75,000',
 '$28,000-$60,000',
 '$26,000-$45,000',
 nan,
 '$25,225-$36,550',
 '$37,240-$44,030',
 '$20,460-$24,940',
 '$15,650-$18,340',
 '$26,980-$34,430',
 '$32,610-$45,030',
 '$32,940-$45,340',
 '$52,300-$69,050',
 '$113,540-$210,740',
 '$35,400',
 '$43,000',
 '$60,700',
 '$42,250',
 '$56,400',
 '$86,800',
 '$73,100',
 '$142,500',
 '$43,200',
 '$55,300',
 '$109,800',
 '$131,750',
 '$43,200',
 '$33,300',
 '$39,100',
 '$44,000',
 '$36,000',
 '$44,100',
 '$54,950',
 '$23,195',
 '$18,995',
 '$24,990',
 '$31,545',
 '$25,245',
 '$62,000',
 '$61,500',
 '$101,200',
 '$87,200',
 '$67,500',
 '$52,100',
 '$332,500',
 '$338,700',
 '$346,300',
 '$455,000',
 '$341,125',
 '$160,000',
 '$192,500',
 '$202,950',
 '$242,500',
 '$299,000',
 '$225,000',
 '$39,900-$48,900',
 '$39,050-$45,100',
 '$51,065-$52,760',
 '$76,000-$82,825',
 '$32,900-$40,900',
 '$38,935-$47,770',
 '$45,070-$50,620',
 '$54,225-$64,365',
 '$89,080-$99,710',
 '$19,650 - $28,100',
 '$24,100 - $34,850',
 '$24,950 - $37,350',
 '$28,025 - $43,200',
 '$20,500 - $29,400',
 '$17,900',
 '$33,700',
 '$17,890 - $28,390',
 '$24,355 - $32,790',
 '$36,090 - $53,250',
 '$29,390 - $42,590',
 '$19,190 - $28,350',
 '$32,790 - $47,390',
 '$26,830',
 '$20,650',
 '$24,325',
 '$20,640',
 '$25,270',
 '$35,060',
 '$32,295',
 '$18,795',
 '$22,995',
 '$26,795',
 '$28,845',
 '$27,495',
 '$22,245',
 '$36,395',
 '$26,570 - $34,420',
 '$24,590 - $31,490',
 '$14,295 - $16,995',
 '$15,295 - $16,995',
 '$23,590 - $25,590',
 '$79,990-$169,990',
 '$39,990-$59,990',
 '$89,990-$139,990',
 '$41,190-$63,190',
 'Starting at $31,490',
 'Starting at $30,290',
 'Starting at $33,090',
 'Starting at $23,690',
 'Starting at $29,995',
 'Starting at $35,595',
 'Starting at $39,145',
 'Starting at $29,995',
 'Starting at $35,595',
 'Starting at $39,145',
 'Starting at $79,995',
 'Starting at $33,100',
 'Starting at $41,900',
 'Starting at $49,900',
 'Starting at $39,900',
 'Starting at $41,900',
 'Starting at $45,900',
 'Starting at $49,900',
 'Starting at $45,900',
 'Starting at $42,250',
 'Starting at $55,950',
 'Starting at $40,900',
 'Starting at $87,995',
 'Starting at $42,650',
 'Starting at $68,250',
 'Starting at $69,900',
 'Starting at $45,900',
 'Starting at $65,000',
 'Starting at $39,900',
 'Starting at $49,900',
 'Starting at $19,990',
 'Starting at $24,990',
 'Starting at $24,990',
 'Starting at $39,900',
 'Starting at $70,900',
 'Starting at $41,900',
 'Starting at $79,900',
 'Starting at $18,000',
 'Starting at $24,000',
 'Starting at $26,000',
 'Starting at $30,000',
 'Starting at $34,000',
 'Starting at $36,000',
 'Starting at $15,490',
 'Starting at $18,990',
 'Starting at $23,990',
 'Starting at $24,990',
 'Starting at $28,990',
 'Starting at $27,990',
 'Starting at $23,990',
 'Starting at $22,990',
 'Starting at $26,990',
 'Starting at $29,990',
 'Starting at $17,990',
 'Starting at $22,990',
 'Starting at $26,990',
 'Starting at $32,990',
 'Starting at $27,990',
 'Starting at $32,990',
 'Starting at $39,990',
 'Starting at $22,990',
 'Starting at $19,990',
 'Starting at $26,990',
 'Starting at $28,990',
 'Starting at $32,990',
 'Starting at $15,490',
 'Starting at $39,990',
 'Starting at $15,490',
 'Starting at $18,000',
 'Starting at $26,000',
 'Starting at $34,000',
 'Starting at $24,000',
 'Starting at $30,000',
 'Starting at $23,990',
 'Starting at $18,000',
 'Starting at $27,990',
 'Starting at $32,990',
 'Starting at $24,000',
 'Starting at $28,000',
 'Starting at $33,000',
 'Starting at $30,000',
 'Starting at $29,000',
 'Starting at $32,000',
 'Starting at $33,000',
 'Starting at $40,000',
 'Starting at $37,990',
 'Starting at $32,990',
 'Starting at $39,990',
 'Starting at $42,990',
 '$28,530-$34,490',
 '$84,995',
 '$87,895-$90,390',
 '$3,000,000',
 '$1,700,000',
 '$1,100,000',
 '$1,300,000',
 '$74,390',
 '$102,390',
 '$77,890',
 '$134,300',
 nan,
 nan,
 nan,
 nan,
 nan,
 '$2.6 million',
 '$1.5 million',
 '$3.0 million',
 '$2.6 million',
 '$3.2 million',
 '$1.7 million',
 '$2.8 million',
 '$2.2 million',
 '$2.5 million',
 '$2.5 million',
 '$1.5 million',
 '$1.6 million',
 '$4.8 million',
 '$1.1 million',
 '$1.6 million',
 '$600,000',
 '$750,000',
 'Starting at $35,900',
 'Starting at $47,700',
 'Starting at $42,250',
 'Starting at $47,700',
 'Starting at $77,900',
 '$155,000',
 '$59,900',
 'Starting at $61,900',
 'Starting at $77,400',
 'Starting at $169,000',
 'Starting at $67,500',
 'Starting at $70,000',
 'Starting at $180,000',
 'Starting at $180,000',
 'Starting at $74,900',
 'Starting at $84,900',
 'Starting at $94,900',
 'Starting at $139,900',
 'Starting at $149,900',
 'Starting at $33,295',
 'Starting at $46,295',
 'Starting at $39,995',
 'Starting at $55,795',
 'Starting at $84,995',
 'Starting at $76,295',
 'Starting at $35,795',
 'Starting at $41,795',
 'Starting at $59,995',
 'Starting at £27,995',
 'Starting at £31,995',
 'Starting at £36,995',
 'Starting at £41,995',
 'Starting at £54,995',
 'Starting at $32,145',
 'Starting at $32,995',
 'Starting at $26,995',
 'Starting at $45,995',
 'Starting at $37,499',
 'Starting at $29,999',
 'Starting at $37,400',
 'Starting at $45,900',
 'Starting at $72,900',
 'Starting at $36,900',
 'Starting at $41,900',
 'Starting at $62,900',
 'Starting at $68,900',
 'Starting at $40,520',
 'Starting at $25,620',
 'Starting at $39,990',
 'Starting at $31,320',
 'Starting at $25,120',
 'Starting at $33,920',
 'Starting at $72,900',
 'Starting at $59,900',
 'Starting at $71,900',
 'Starting at $1.9 million',
 'Starting at $120,000',
 'Starting at $79,995',
 'Starting at $109,995',
 'Starting at $79,995',
 'Starting at £34,995',
 'Starting at $22,450',
 'Starting at $24,450',
 'Starting at $44,990',
 'Starting at $15,299',
 'Starting at $14,499',
 'Starting at $18,499',
 'Starting at $21,299',
 'Starting at $25,299',
 'Starting at $16,299',
 'Starting at $26,299',
 'Starting at $29,299',
 'Starting at £15,995',
 'Starting at £20,495',
 'Starting at £24,495',
 'Starting at £25,495',
 'Starting at £20,495',
 'Starting at £24,595',
 'Starting at £22,595',
 'Starting at £1,000,000',
 'Starting at £500,000',
 'Starting at €400,000',
 'Starting at £300,000',
 'Starting at €40,000',
 'Starting at £1,000,000',
 'Starting at €200,000',
 'Starting at €150,000',
 'Starting at €130,000',
 'Starting at $420,000',
 'Starting at $200,000',
 'Starting at $211,000',
 'Starting at $3.2 million',
 'Starting at $180,000',
 'Starting at $275,000',
 'Starting at $375,000',
 'Starting at $200,000',
 'Starting at $120,000',
 'Starting at $100,000',
 'Starting at $25,295',
 'Starting at $20,075',
 'Starting at $26,225',
 'Starting at $34,625',
 'Starting at $25,295',
 'Starting at $24,525',
 'Starting at $66,000',
 'Starting at $49,995',
 'Starting at $26,225',
 'Starting at $11,000',
 'Starting at $15,000',
 'Starting at $20,000',
 'Starting at $17,000',
 'Starting at $23,000',
 'Starting at $20,000',
 'Starting at $25,000',
 'Starting at $24,770',
 'Starting at $21,700',
 'Starting at $25,295',
 'Starting at $21,700',
 'Starting at $31,470',
 'Starting at $36,295',
 'Starting at $23,695',
 'Starting at $156,000',
 'Starting at $31,995',
 'Starting at $25,995',
 'Starting at $59,995',
 'Starting at $19,995',
 'Starting at $25,295',
 'Starting at $25,995',
 'Starting at $35,295',
 'Starting at $51,995',
 'Starting at $49,995',
 'Starting at $20,995',
 'Starting at $25,995',
 'Starting at $23,990',
 'Starting at $19,990',
 'Starting at $22,990',
 'Starting at $28,990',
 'Starting at $26,990',
 'Starting at $29,990',
 '4.59 lakhs',
 '6.49 lakhs',
 '14.69 lakhs',
 '24.69 lakhs',
 '₹5.49 lakhs - ₹9.39 lakhs',
 '₹4.19 lakhs - ₹6.99 lakhs',
 '₹5.49 lakhs - ₹7.49 lakhs',
 '₹10.55 Lakh - ₹16.78 Lakh']